///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//                                                                                   //
//                                  STATELY CLASSES                                  //
//                                                                                   //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////
//
//-> Vertical Align
//
@include stately(vertical-align,(
	super:       super      ,
	sup:         super      ,
	sp:          super      ,
	sub:         sub        ,
	sb:          sub        ,

	middle:      middle     ,
	mid:         middle     ,
	m:           middle     ,
	top:         top        ,
	t:           top        ,
	bottom:      bottom     ,
	btm:         bottom     ,
	bt:          bottom     ,

	text-bottom: text-bottom,
	txb:         text-bottom,
	tb:          text-bottom,
	text-top:    text-top   ,
	txt:         text-top   ,
	tt:          text-top   ,
	baseline:    baseline   ,
	base:        baseline   ,
	bs:          baseline   ,
),'va',!important);