[submodule "panel"]
	path = panel
	url = https://rafegoldberg@github.com/getkirby/panel.git
[submodule "kirby"]
	path = kirby
	url = https://rafegoldberg@github.com/getkirby/kirby.git
[submodule "site/fields/markdown"]
	path = site/fields/markdown
	url = https://rafegoldberg@github.com/JonasDoebertin/kirby-visual-markdown.git
[submodule "site/fields/selector"]
	path = site/fields/selector
	url = https://rafegoldberg@github.com/storypioneers/kirby-selector.git
[submodule "site/fields/wysiwyg"]
	path = site/fields/wysiwyg
	url = https://rafegoldberg@github.com/storypioneers/kirby-wysiwyg.git
[submodule "site/plugins/kirbycms-extension-webhelper"]
	path = site/plugins/kirbycms-extension-webhelper
	url = https://rafegoldberg@github.com/fanningert/kirbycms-extension-webhelper.git
[submodule "site/plugins/kirbycms-extension-gmaps"]
	path = site/plugins/kirbycms-extension-gmaps
	url = https://rafegoldberg@github.com/fanningert/kirbycms-extension-gmaps.git
