// DEFAULTS
h1, h2, h3, h4, h5, h6 {
	font-family: _ff(sans);
	letter-spacing: -.01em;
	text-rendering: geometricPrecision;
	margin: .375em auto;
	line-height: 1.125;
}
// ALTERNATES
//-> Alt. Weights
h1 { font-weight: 700; }
h2, h3 { font-weight: 600; }
h4, h5, h6 { font-weight: 400; }
//-> Alt. Kerning
h5, h6 { letter-spacing: .005em; }


h1 { @include scale(1); }
h2 { @include scale(1); }
h3 { @include scale(2); }
h4 { @include scale(3); }
h5 { @include scale(4) ; }
h6 { @include scale(5) ; }