key {
	display: inline;
	margin: 0 0.15em;
	padding: 0 .3em;
	white-space: pre-wrap;
	border: 1px solid;
	border-radius: 3px;
	border-color: _c(dusk ); //@todo[modularize]@group[colors]
	background:   _c(eve  ); //@todo[modularize]@group[colors]
	color:        _c(ivory); //@todo[modularize]@group[colors]
}