// MIXINS
// 
@mixin block-overflow-fade($c:white,$z:9) {

	&_fade {
		& {
			position: relative;
		}
		&, &-in, &-out {
			&:before, &:after {
				content: ' ';
				position: absolute;
				top: -3px;
				display: block;
				width: 3.5%;
				height: 100%;
				min-width: 20px;
				max-width: 70px;
				pointer-events: none;
				box-sizing: content-box;
				padding: 3px;
				z-index: $z;
			}
			&:before {
				left: -3px;
				@include linear-gradient(to right, $c 20%, rgba($c,0) 80%);
			}
			&:after  {
				right: -3px;
				@include linear-gradient(to left, $c 20%, rgba($c,0) 80%);
			}
		}
		&-in  { &:after  { display: none !important; } }
		&-out { &:before { display: none !important; } }
	}
}
@mixin block-overflow-extras($class:Wrap) {
	@at-root &#{$class} {
		& {
			overflow: hidden;
		}
		@include block-overflow-fade;
		&-mobile { @include gridle_state(m) {
			@include block-overflow-fade;
		} }
		
		&-tablet { @include gridle_state(t) {
			@include block-overflow-fade;
		} }
	}
}
@mixin block-overflow($dir:y,$args:()) {
	$args: map-merge((),$args);
	@content;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	@if ($dir==x) {
		overflow-x: scroll;
		max-width: 100%;
		padding: 0 2%;
	} @else {
		overflow-y: scroll;
	}
}

// DEFAULTS
// 
.overflow {
	@include block-overflow(x) {
		@include block-overflow-extras;
	};
}