// ----
/// CUSTOM SCROLLBARS
// ----
@mixin scrollbars($opts:(),$theme:#CCC) {
	$opts: extend((
		color_thumb:        $theme,
		color_stroke:       0,
		color_track:        mix($theme,#FFF,50%),
		scrollbar_size:     8,
		add_padding:        false,
		overflow_direction: y
	),$opts);
	@if map-get($opts,add_padding) {
		@if map-get($opts,overflow_direction)==y {
			padding-right: map-get($opts,scrollbar_size);
		} @elseif map-get($opts,overflow_direction)==x {
			padding-right: map-get($opts,scrollbar_size)+(map-get($opts,color_stroke),2,);
		}
	}
	& { //IMPLEMENT IE
		scrollbar-face-color: map-get($opts,color_thumb);
		scrollbar-track-color: map-get($opts,color_track);
	}
	& { //IMPLEMENT WEBKIT
		&::-webkit-scrollbar {
			width:  map-get($opts,scrollbar_size);
			height: map-get($opts,scrollbar_size);
			background: map-get($opts,color_track);
			@if map-get($opts,color_stroke) {
				border: 1px solid map-get($opts,color_stroke);
			}
		}
		&::-webkit-scrollbar-track {
			background: map-get($opts,color_track);
			@if map-get($opts,color_stroke) {
				border: 1px solid map-get($opts,color_stroke);
			}
		}
		&::-webkit-scrollbar-thumb {
			background: map-get($opts,color_thumb);
			@if map-get($opts,color_stroke) {
				border: 1px solid map-get($opts,color_track);
				// border-width: if(map-get($opts,overflow_direction)==x,1px 0,0 1px);
			}
		}
	}
}