@include newBox((
	name: bg,
	convention: explicit,
	extend: '.va-t'
)){
	// Quick Config
	// 
	$item_active_class: '.current';
	$item_animation_subclass: 'scaleUp';
	$item_animation_duration: .4;
	$item_animation_delay: .250;

	// Parse Config Vars
	// 
	$item_animation_subclass: "#{map-get($box,selector)}--#{$item_animation_subclass}";

	// Defaults
	// 
	& {
		position: relative;
		z-index: 1;
		@extend %_force-hardware-acceleration !optional;
	}
	&__before:before,
	&__after:after {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		z-index: -1;
		pointer-events: none;
		background-position: center;
		background-size: cover;
		transition: all .35s ease-in-out;
		@extend %_force-hardware-acceleration !optional;
		@extend %_BGIMG_;
	}
	&__bw%_BGIMG_ { @at-root & { // STYLE PSEUDO BG EL
		filter: grayscale(1);
	}}
	&__overlay {
		$_GRD_: darken(_c(navy),1%);
		// @include linear-gradient(180deg, rgba($_GRD_,1.000) 05%, rgba($_GRD_,0.750) 60%, rgba($_GRD_,0.375) 80%, rgba($_GRD_,0.250) 90%, rgba($_GRD_,0.000) 95%);
		background: rgba($_GRD_,.8375);
		
		transition: all .2s;
		transition-delay: .2s;

		&%_BGIMG_ { @at-root & { // STYLE :(b|a) PSEUDO EL
			filter: grayscale(1) contrast(1.5) brightness(1.175);
			opacity: .5;
		}}

		& { // HOVER
			&:hover:not(#{$item_active_class}) {
				$_GRD_: darken(_c(navy),4%);
				// @include linear-gradient(180deg, rgba($_GRD_,1.000) 05%, rgba($_GRD_,0.750) 60%, rgba($_GRD_,0.375) 80%, rgba($_GRD_,0.250) 90%, rgba($_GRD_,0.000) 95%);
				background: rgba($_GRD_,.8375);
				&%_BGIMG_ { @at-root & { // STYLE :(b|a) PSEUDO EL
					opacity: .5;
				} }
			}
		}

		& { // ACTIVE
			&:active:not(#{$item_active_class}) {
				$_GRD_: darken(_c(navy),8%);
				// @include linear-gradient(180deg, rgba($_GRD_,1.000) 05%, rgba($_GRD_,0.750) 60%, rgba($_GRD_,0.375) 80%, rgba($_GRD_,0.250) 90%, rgba($_GRD_,0.000) 95%);
				background: rgba($_GRD_,.8375);
			}
		}

		& { // ACTIVE
			&#{$item_active_class} {
				$_GRD_: darken(_c(slate),6%);
				// @include linear-gradient(180deg, rgba($_GRD_,1.000) 05%, rgba($_GRD_,0.750) 70%, rgba($_GRD_,0.5) 85%);
				background: rgba($_GRD_,.8375);
				&%_BGIMG_ { @at-root & { // STYLE :(b|a) PSEUDO EL
					filter: grayscale(.9) contrast(2) brightness(1.015);
					opacity: 1;
				} }
			}
		}

		& { // SCALEUP (ANIMATION)
			
			// Quick Config
			// 
			$item_animation_subclass_action: action;

			// Animation Styles
			// 
			@at-root #{$item_animation_subclass} {
				@extend %_force-hardware-acceleration !optional;
				transition: font-size with-unit(($item_animation_duration)-.015,s) ease-in-out;
				transition-delay: with-unit(($item_animation_duration/2)+$item_animation_delay,s);
				&__#{$item_animation_subclass_action} {
					position: absolute;
					transform: scale(.375) translateX(.625em) translateY(100%);
					opacity: 0;
					transition: opacity   with-unit($item_animation_duration+$item_animation_delay,s) ease-out   ,
								transform with-unit(($item_animation_duration+$item_animation_delay)/1.5,s) ease-in-out;
					transition-delay: 0;
				}
			}
			&#{$item_active_class} #{$item_animation_subclass} {
				@include scale(4,font-size,rem);
				transition: font-size with-unit($item_animation_duration/2,s) ease-in-out;
				transition-delay: with-unit($item_animation_delay,s);
				&__#{$item_animation_subclass_action} {
					transform: scale(1) translateX(0) translateY(0);
					opacity: 1;
					transition: opacity   with-unit($item_animation_duration,s) ease-in   ,
								transform with-unit(($item_animation_duration)/1.5,s) ease-in-out;
					transition-delay: with-unit(($item_animation_duration/2)+$item_animation_delay,s);
				}
			}
		}
	}
};