@include newBox((
	name: text,
	convention: explicit,
	extend: '.ta-l'
)){
	& { //DEFAULT
		max-width: 44rem !important;
		display: inline-block;
	    @include scale(9,font-size,rem);
	}
	> %flow:last-child { margin-bottom: 0; }
	> %flow:only-child { margin-top:    0;
	            	     margin-bottom: 0; }
};