/////////////////////////////////////////////////////
//                                                 //
//               SITE-WIDE VARIABLES               //
//                                                 //
//———————————————————————————————————————————————————
//                    LAYOUT VARS                    
// 
// Map variables that consist of settings for every
// state keyword as defined in the $breaks var. The
// keywords currently in use are as follows:
// - [d] desktop
// - [t] tablet
// - [m] mobile
// 
$breaks: (
	d: (
		min-width: 75em,
	),
	t: (
		max-width: 74.938em,
		min-width: 36.063em,
	),
	m: (
		min-width: 0,
		max-width: 36em,
	),
); //@is[base options for grd_reg_state()]@px[1200,(1199,481),480]@type[opt]

$scale: 16, 14, 12, 10, 4, 1;

$gutter: (
	d: ms(_sz(-2)),
	t: ms(_sz(-1)),
	m: ms(_sz(-1)),
); //@is[gridle padding values]@px[24,16,16]@type[opt]
// 
//——————————————————————————————————————————————————
//                  THEME & COLORS                  
// 
$greys: (
	slate:   #292929,
	grey:    #444444,
	stroke:  #CCCCCC,
	ivory:   #FCFCFC,
);
$greys: map-merge((
	dark:   map-get($greys,slate),
	gray:   map-get($greys,grey),
	border: map-get($greys,stroke),
	bdr:    map-get($greys,stroke),
	light:  map-get($greys,ivory),
),$greys); //@is[add aliases to $greys]@type[alias]

$theme: (
	navy:    #0E3759,
	evening: #1C5286,
	brand:   #006FAE,
	sky:     #E2E9F2,
);
$theme: map-merge((
	dusk: map-get($theme,navy),
	eve:  map-get($theme,evening),
	blue: map-get($theme,brand),
),$theme); //@is[add aliases to $theme]@type[alias]

$colors: map-merge($greys,$theme);
// 
//———————————————————————————————————————————————————
//                    TYPOGRAPHY                    
// 
$fz-base: 16px;
$font-imports: din-alt;
$ff: (
	base: '"Helvetica Neue", Helvetica, Arial, sans-serif',
	sans: '"DIN", "Helvetica Neue", Helvetica, Arial, sans-serif',
);