/////////////////////////////////////////////////////
//                                                 //
//               SITE-WIDE VARIABLES               //
//                                                 //
/////////////////////////////////////////////////////


//———————————————————————————————————————————————————
//                    LAYOUT VARS                    
// 
// Map variables that consist of settings for every
// state keyword as defined in the $breaks var. The
// keywords currently in use are as follows:
// 
// - [d] desktop
// - [t] tablet
// - [m] mobile
// 

 //@ORD[ 1   2   3   4  5  6  7  8  9]
$scale: 16, 14, 12, 10, 8, 6, 3, 1, 0;
 //@REV[-9  -8  -7  -6 -5 -4 -3 -2 -1]
 // @is[used by modscale to calc a set of consistent sizes]

$breaks: (
	d: (
		min-width: 75em,
	),
	t: (
		max-width: 74.938em,
		min-width: 36.063em,
	),
	m: (
		min-width: 0,
		max-width: 36em,
	),
);	//
	// @is[base options for gridle_state(s)]
	// @px[1200,(1199,481),480]
	// @type[opt]


$gutter: (
	d: 1em,
	t: 1em,
	m: 1em,
);	// 
	// @is[padding values for gridle_state(s)]
	// @px[24,16,16]
	// @type[opt]
	// @defaults[reset using ms() in cnf.rhythm]

//——————————————————————————————————————————————————
//                  THEME & COLORS                  
// 
$greys: (
	slate:   #292929,
	grey:    #444444,
	stroke:  #CCCCCC,
	ivory:   #FCFCFC,
);
$greys: map-merge((
	dark:   map-get($greys,slate),
	gray:   map-get($greys,grey),
	border: map-get($greys,stroke),
	bdr:    map-get($greys,stroke),
	light:  map-get($greys,ivory),
),$greys); 	//
			// @is[add aliases to $greys]
			// @type[alias]

$theme: (
	navy:    #0E3759,
	evening: #1C5286,
	brand:   #006FAE,
	sky:     #E2E9F2,
);
$theme: map-merge((
	dusk: map-get($theme,navy),
	eve:  map-get($theme,evening),
	blue: map-get($theme,brand),
),$theme);//
		  // @is[add aliases to $theme]
		  // @type[alias]

$colors: map-merge($greys,$theme);

//———————————————————————————————————————————————————
//                    TYPOGRAPHY                    
// 
$fz-base: 1rem;
$font-imports: din-alt;
$ff: (
	base: '"Helvetica Neue", Helvetica, Arial, sans-serif',
	sans: '"DIN", "Helvetica Neue", Helvetica, Arial, sans-serif',
);