/////////////////////////////////////////////////////
//                                                 //
//               SITE-WIDE VARIABLES               //
//                                                 //
/////////////////////////////////////////////////////

//———————————————————————————————————————————————————
//                    LAYOUT VARS                    
// 
// Map variables that consist of settings for every
// state keyword as defined in the $breaks var. The
// keywords currently in use are as follows:
// 
// - [d] desktop
// - [t] tablet
// - [m] mobile
// 

 //@ORD[ 1   2   3   4  5  6  7  8  9]
$scale: 17, 14, 12, 10, 8, 6, 3, 1, 0;
 //@REV[-9  -8  -7  -6 -5 -4 -3 -2 -1]
 // @is[used by modscale to calc a set of consistent sizes]

$breaks: (
	d: (
		min-width: 75em,
	),
	t: (
		max-width: 74.938em,
		min-width: 0 // 32.063em@32EM 37.563em@37.5EM 0@[TABLET CASCADES TO MOBILE]
	),
	m: (
		min-width: 0,
		max-width: 37.5em, // 32em^SEE
	),
);	//
	// @is[base options for gridle_state(s)]
	// @px[1200,(1199,481),480]
	// @type[opt]


$gutter: (
	d: 1em,
	t: 1em,
	m: 1em,
);	// 
	// @is[padding values for gridle_state(s)]
	// @px[24,16,16]
	// @type[opt]
	// @defaults[reset using ms() in cnf.rhythm]

//——————————————————————————————————————————————————
//                  THEME & COLORS                  
// 
$greys: (
	slate:   #202326,
	grey:    #444444,
	stroke:  #CCCCCC,
	ivory:   #FCFCFB,
);
$greys: map-merge((
	dark:   map-get($greys,slate),
	gray:   map-get($greys,grey),
	border: map-get($greys,stroke),
	bdr:    map-get($greys,stroke),
	light:  map-get($greys,ivory),
),$greys); 	//
			// @is[add aliases to $greys]
			// @type[alias]

$theme: (
	navy:    #083056,
	evening: #0B477F,
	brand:   #00589B,
	sky:     #E2E9F2,
);
$theme: map-merge((
	dusk: map-get($theme,navy),
	eve:  map-get($theme,evening),
	blue: map-get($theme,brand),
),$theme);//
		  // @is[add aliases to $theme]
		  // @type[alias]

$colors: map-merge($greys,$theme);

//———————————————————————————————————————————————————
//                    TYPOGRAPHY                    
// 
$_TYPE: (
	base: 16px,
	rhythm: 1em,
	lines: 1.5,
	imports: din-alt,
	styles: ()
);	//
	// @todo[build out $_TYPE app.utils]
$font-imports: din-alt icons; // @todo[remove; rely on _TYPE]
$ff: (
	base: '"Helvetica Neue", Helvetica, Arial, sans-serif',
	sans: '"DIN", "Helvetica Neue", Helvetica, Arial, sans-serif',
);	//
	// @todo[remove; rely on $_TYPE]