html {
	font: normal normal 300 16px/1 _ff(base);
	body {
		@include gridle_container;
		margin: 0 auto;
		padding: 0;
		font-size: 100%;
		background: _c(brand);
		color: _c(ivory);
	}
	&, body { &.debug { background-color: #fff; color: #000; }}
}