//////////////////////////////////////////////////////////////
//                                                          //
//                   VERTICAL RHYTHM CALC                   //
//                                                          //
//––––––––––––––––––––––––––––––––––––––––––––––––––––––––––//
// Repository:    github.com/modularscale/modularscale-sass //
// Author:        http://scottkellum.com/                   //
// Documentation: http://www.modularscale.com/              //
//////////////////////////////////////////////////////////////

// Import Library
//
@import "lib.rhythm/modular-scale";
// @import "modscale/modular-scale-tests";

// Setup
//
$ms-base:  1em;
$ms-ratio: $minor-second;
$ms-range:
  1.025 _breaks(m,min-width),
  1.050 _breaks(t,min-width),
  1.075 _breaks(d,min-width);