.heading {
	@extend %bit;
	// 
	// BASE STYLES
	font-family: _ff(sans);
	letter-spacing: -.01em;
	text-rendering: geometricPrecision;
	margin: .375em auto;
	line-height: 1.125;
	@for $i from 1 through length($scale) {
		&_#{$i} { 
			@extend .heading, .size_#{$i} !optional;
		}
	}
	// 
	// ALTERNATE STYLES
	// > adjust weights
	&_1           { font-weight: 900; }
	&_2, &_3      { font-weight: 700; }
	&_4, &_5, &_6 { font-weight: 600; }
	// > adjust kern
	&_6 { letter-spacing: .005em; }
}

// SUB-SHEET IMPORTS
// 
@import "headings.defaults";