%links {
	&--default{
		@extend %bit;
		color: inherit;
	}
	&--soft {
		%link {
			@extend %links--default;
			color: inherit;
			text-decoration: none;
		}
	}
}
a { @extend %link; }

a, a:visited {
	@extend %links--default;
}