.list {
	// VARS
	$class: '.list';

	// CONFIG
	@extend %bit;

	// DEFAULTS
	& {
		margin: 0;
		padding: 0;
		line-height: 1;
		&--item {
			@extend %bit_item;
			@at-root #{$class}__pad-items & {
		      @extend %bit_item__padded;
		    }
		}
	}
}

// SUB-SHEET IMPORTS
// 
@import "list.inline";
@import "list.block";