.list__inline {
	@extend .list;
	display: inline-block;
	@include gridle_parent;
	// 
	// DESCENDANTS
	// 
	& { > *, .list--item {
		display: inline-block;
	} }
	// 
	// LAYOUTS
	// 
	&__break {
		& { > *, .list--item {
			@include gridle_state(m) { display: block; }
		} }
	}
}