.list__inline {
	//–> CONFIG
	// 
	@extend .list;
	@include gridle_parent;

	//–> DESCENDANTS
	// 
	& {
		display: inline-block;
		.list--item {
			display: inline-block;
			+ .list--item { margin-left: _ms(-1); }
		}
	}

	//–> LAYOUTS
	// 
	&__sep-slash {
		@include gridle_state( d t ) {
			.list--item {
				padding: 0 !important;
				margin-left: 0 !important;
				margin-right: 0 !important;
				+ .list--item:before {
					content: ' / ';
					margin: 0 .25em;
					font-weight: 100;
				}
			}
		}
	}
	&__break {
		display: block;
		& { > *, .list--item {
			@include gridle_state(m) {
				display: block;
				margin: 0 !important;
			}
		} }
	}
	 @include gridle_state( mobile ) { &__collapse {
		> *, .list--item {
			margin-left: 0 !important;
		}
	} }
}