// @requires	util/generate.scrollbars
//           	app/app.util::_c
//              	app.util::$c[eve,slate]
// @notes		%_force-hardware-acceleration
// 				is optional but important for
//				achieving a smooth sliding
//				effect for mobile browsers.

@include newBloc((
	name: scroller,
	gridle: (
		parent: true
	),
	convention: explicit,
	includes: '.ta-c, %_force-hardware-acceleration',
)){
	& { //=DEFAULTS

		@include scrollbars((
			color_thumb:  _c(sky),
			color_track:  transparent,
			color_stroke: _c(brand),
			scrollbar_size: 6px,
			overflow_direction: x
		));

		// background: _c(dusk);

		display: block;
		max-width: 100%;

		white-space: nowrap;//force overflow

		overflow: hidden;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;

		font-size: 0 !important;
		> * {

			// DEFAULTS
			vertical-align: middle;

			@extend .d-ib !optional;
			float: none !important;
			font-size: 1rem;
			position: relative;
			white-space: initial; // reset parent
		}
		&__va-t > * { @extend .va-t !optional; }
		&__va-m > * { @extend .va-m !optional; }
		&__va-b > * { @extend .va-b !optional; }
	}
	&--item {
		@include gridle_set((
			grid: 7,
			parent: true,
			t: ( grid: 8  ),
			m: ( grid: 10 )
		));
	}
	@include pad('.#{getBlocClass($bloc,true)}--item') {
		min-width: 25%;
		min-width: 25vw;
		box-sizing: content-box;
		border-right: 1px solid;
		&:last-child { border-right: none; }
	};
};